.detail-box__container {
  width: 860px;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas:
    "image   basic"
    "deep    deep";
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 1px 1px 15px $G-cloudy;
}

.detail-info__container--image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 10px 0;
  border-right: 2px $G-main-brown-lighten dotted;
}

.detail-info__container--basic {
  grid-area: basic;
  display: grid;
  grid-template-rows: 4fr 3fr 7fr;
  padding: 20px;
  div {
    padding: 10px;
  }
}

.detail-info__container--deep {
  grid-area: deep;
  display: grid;
  grid-template-rows: 45px 1fr;
}

.detail-info__image {
  width: 80%;
  height: 80%;
  border-radius: 5px;
  object-fit: contain;
}

.detail-info__span--main {
  font-size: 36px;
  color: $G-main-brown-darken-more;
}

.detail-info__span--amount {
  font-size: 20px;
  color: $G-main-brown-lighten;
}

.detail-info__span--flexible {
  font-size: 18px;
  color: $G-main-brown-darken-more;
}

.detail-menu__container {
  display: flex;
  margin-top: 5px;
  padding: 10px 0;
  border-top: 2px $G-main-brown-lighten dotted;
  border-bottom: 2px $G-main-brown-lighten dotted;
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    span {
      cursor: pointer;
      font-size: 17px;
      color: $G-main-brown-darken-more;
      opacity: 0.5;
    }
  }
}

.isShow {
  opacity: 1 !important;
}

.detail-content__container {
  margin-top: 10px;
  padding: 15px;
  p {
    color: $G-main-brown-darken-more;
  }
}
