.input-title__container {
  width: 800px;
  margin: 50px auto 20px auto;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 1px solid $G-main-brown-darken;
}

.input-title__span {
  font-size: 25px;
  color: $G-main-brown-darken-more;
}
