.title__container {
  position: relative;
  display: flex;
  border-bottom: 2px $G-main-brown-darken solid;
  margin: 20px;
  margin-bottom: 40px;
  padding: 0 0 20px 0;
}

.title__span {
  font-size: 50px;
  font-weight: 500;
  color: $G-main-brown-darken-more;
  padding-left: 10px;
  @media #{$phone} {
    font-size: 40px;
  }
}

.create__link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  color: $G-main-brown-darken-more;
  font-size: 20px;
  border: 1px $G-main-brown-darken solid;
  padding: 10px;
  &:hover {
    border: 1px $G-main-brown-lighten solid;
    color: white;
    background-color: $G-cloudy;
  }
}
