// Config
@import "./config/_reset.scss";
@import "./config/_fonts.scss";
@import "./config/_colors.scss";
@import "./config/_variables.scss";
@import "./config/_mixins.scss";

// Components
@import "./components/header.scss";
@import "./components/crewCard.scss";
@import "./components/title.scss";
@import "./components/inputForm.scss";

// Routes
@import "./routes/crew.scss";

// GlobalStyles

body {
  margin-top: 80px;
  @media #{$desktop} {
    width: 1200px;
    margin: 160px auto 0 auto;
    // border: green 2px solid;
  }
}

div {
  box-sizing: border-box;
}

span,
p,
a,
textarea,
button,
input {
  font-family: "Roboto", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

.display-none {
  display: none;
}

// Common
